/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: rgba(240, 240, 240, 0.715);
  font-family: arial, sans-serif;
  font-size: 15px;
}

/* Applies to all <h1>...</h1> elements. */
h1 hover {
  background-color:#9999;
  font-size: 36px;
  font-weight: normal;
  margin-top: 6px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass {
  color: rgba(255, 0, 0, 0.626);
}

/* Applies to the element with <... id="someid"> specified. */
#someid {
  color: rgba(41, 128, 0, 0.258);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
